# Hello Word on Pandas

In [3]:
import pandas as pd 
import numpy as np

Bibliotecas importadas com sucesso.

In [4]:
pd.DataFrame({'Yes':[50,21],'No':[20,2]})

   Yes  No
0   50  20
1   21   2

Neste caso, aqui temos uma biblioteca, onde 'yes' e 'no' são os representates dos valores.

In [6]:
# Agora com texto. 

pd.DataFrame({'Bob':['nice ','bad'],'Sue':['Beatiful','Just nice.']})

     Bob         Sue
0  nice     Beatiful
1    bad  Just nice.

Agora vamos add uma biblioteca com indices.

In [12]:
pd.DataFrame({'Bob':['Pizza','Macarrão'],'Sue':['Pastel','Doce']}, index=['1ª person','2ª person'])

                Bob     Sue
1ª person     Pizza  Pastel
2ª person  Macarrão    Doce

Agora vamos criar uma tabela do tipo Series.

In [13]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

A Serie é em essência, uma coluna simples em DataFrame. Então você consegue assinar ....